.header {
    height: 100vh;
    color: $color-white;
    position: relative;

    &__navbar-box {
        position: absolute;
        color: $color-purple;
        clear: both;
        float: right;
        display: inline;

    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 15rem;
    }

    &__logo {
        height: 10rem;
    }

    &__text-box {
        background-image:
        url(../img/hero.png);
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(23% 35%, 23% 35%, 31% 17%, 31% 17%, 33% 31%, 33% 31%, 41% 13%, 41% 13%, 44% 29%, 44% 29%, 55% 13%, 55% 13%, 59% 26%, 59% 26%, 75% 21%, 75% 21%, 72% 39%, 72% 39%, 90% 34%, 90% 34%, 84% 54%, 84% 54%, 97% 68%, 97% 68%, 82% 75%, 82% 75%, 82% 96%, 82% 96%, 73% 79%, 73% 79%, 61% 98%, 61% 98%, 55% 81%, 55% 81%, 50% 95%, 50% 95%, 49% 78%, 49% 78%, 37% 97%, 37% 97%, 35% 79%, 35% 79%, 23% 93%, 23% 93%, 24% 72%, 24% 72%, 12% 78%, 12% 78%, 17% 62%, 17% 62%, 3% 52%, 3% 52%, 15% 46%, 15% 46%, 12% 26%, 12% 26%);
    clip-path:polygon(23% 35%, 23% 35%, 31% 17%, 31% 17%, 33% 31%, 33% 31%, 41% 13%, 41% 13%, 44% 29%, 44% 29%, 55% 13%, 55% 13%, 59% 26%, 59% 26%, 75% 21%, 75% 21%, 72% 39%, 72% 39%, 90% 34%, 90% 34%, 84% 54%, 84% 54%, 97% 68%, 97% 68%, 82% 75%, 82% 75%, 82% 96%, 82% 96%, 73% 79%, 73% 79%, 61% 98%, 61% 98%, 55% 81%, 55% 81%, 50% 95%, 50% 95%, 49% 78%, 49% 78%, 37% 97%, 37% 97%, 35% 79%, 35% 79%, 23% 93%, 23% 93%, 24% 72%, 24% 72%, 12% 78%, 12% 78%, 17% 62%, 17% 62%, 3% 52%, 3% 52%, 15% 46%, 15% 46%, 12% 26%, 12% 26%); 
        position: absolute;
        top: 50%;
        left: 50%;
        height: 80vh;
        width: 75%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}