body {
    font-family: 'Kanit', sans-serif;
    line-height: 1.7;
    color: $color-white;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: hidden;
   
    margin-top: 28rem;

    &--main {
        display: block;
        font-size: 7rem;
        font-weight: 700;
        letter-spacing: 1rem;
    
        animation-name: bounceIn;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }

    &--sub {
        display: block;
        font-size: 3.5rem;
        font-weight: 400;
        letter-spacing: 1.75rem;
        margin-bottom: 5rem;
        animation: moveInRight 1s ease-out;
    }

}